body{
    background-image: url(../img/navCorp2.png);
    background-color: rgba(0, 0, 0, 0.712);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    font-family: 'Signika Negative', sans-serif;
    color: rgba(43, 37, 37, 0.849);
    margin-top: 5vh;
}

._registro{
    margin: auto;
    margin-top: 12vh;
    background-color: rgb(43, 43, 71);
    border-radius: 4%;
    width: 50%;
    height: 120vh;
}
._iconPerson{
    color: white;
    font-size: 2em;
    background-color: grey;
    padding: 2vh;
    border-radius: 50%;
    border: solid 2px greenyellow;
    margin-bottom: 2vh;
}
._person{
    margin-top: 5vh;
}
input{
    margin: auto;
}
._select{
    margin: auto;
}
._inputsearch{
    height: 6vh;
    border-radius: 5%;
}
._serch{
    border-radius: 100%;
    height: 6vh;
    margin-left: 1%;
    background-color: rgb(43, 43, 71);
    border: solid 2px greenyellow;
    color: greenyellow;
}
._eyeicon{
    color: greenyellow;
    margin-left: 1vh;
    font-size: 1.2em;
}
._registrarBot{
    border: greenyellow solid 2px;
}